@font-face {
  font-family: AUTHENTICSans;
  src: url(AUTHENTICSans-Condensed-150.otf);
}

body {
  margin: 0;
  color: white;
  background-color: rgb(0, 0, 0);
  padding-top: 150px;
}

h1 {
  font-family: AUTHENTICSans;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.32em;
  margin: 0;
}

h2 {
  display: block;
  text-align: right;
  font-family: AUTHENTICSans;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.19em;
  margin-right: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  height: 120px;
  position: fixed;
  right: 0;
  top: 0;
  left:0;
  background-color: rgba(0, 0, 0, 0.25);
}

.index {
  display: flex;
  justify-content: space-between;
  min-width: 570px;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 140px;
  margin-left: 140px;
  width: 0;
}

.cities-link:link {
  font-family: AUTHENTICSans;
  font-size: 10px;
  letter-spacing: 0.19em;
  text-decoration: none;
  color: white;
  display: block;
  line-height: 17px;
}

.cities-link:hover {
  text-decoration:underline dotted 2px white;
  text-underline-offset: 3px;
}

.cities-link:visited {
  font-family: AUTHENTICSans;
  text-decoration: none;
  color: white;
}

.home:link,
.home:hover,
.home:visited {
  position: absolute;
  display: inline-block;
  top: 20px;
  left:20px;
  font-family: AUTHENTICSans;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.32em;
  text-decoration: none;
  margin-top: 2px;
  color: white;
}

.section {
  justify-content: left;
}

.image {
  max-width: 100%;
  height: auto;
}

.footer {
  display: grid;
  align-items: right;
  color:white;
  padding: 13px;
}

.about:link,
.about:hover,
.about:visited {
  font-family: AUTHENTICSans;
  font-size: 10px;
  letter-spacing: 0.19em;
  text-decoration: none;
  color: white;
}

p {
  text-align: left;
  font-family: AUTHENTICSans;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.19em;
  line-height: 16px;
}

.paragraph {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-right: 200px;
}

.footer-list{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3px;
  text-align: right;
  font-family: AUTHENTICSans;
  font-size: 10px;
  letter-spacing: 0.19em;
  text-decoration: none;
  color: white;
}